html{
    background-image: linear-gradient(#640D6B, #F8D082);
}
h1{
    text-align: center;
    font-family: "Bullet";
    color: #B51B75;
    background-color: #F8D082;
    border-radius: 50%; 
    font-size: 50px;
}
h2{
    font-family: "Bullet";
    color: #E65C19;
    border-color: black;
    font-size: 40px;
}
img{
    border-radius: 25%;
    display: block;
      margin: 0 auto;
      width: 200px;
}
p{
    font-family: "Bowlby One";
    text-align: center;
    color:#F8D082;
    font-size: 30px;;
}
.purp{
    color: #640D6B;
}